<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/ourservices">Our Services</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
