<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventure Campers</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/ourservices">Our Services</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="hero-section">
        <img src="/images/hero-section.jpg" alt="" />
        <div class="msg">
          <h1 class="title">
            Welcome to Adventure Campers "Your Gateway to Nature"
          </h1>
          <button class="scroll"><a href="/about-us">More About Us</a></button>
        </div>
      </div>
    </main>
  </body>
</html>
