<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/ourservices">Our Services</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="hero-section">
        <img src="/images/services.jpg" alt="" />
        <div class="msg">
          <h1 class="title">Tailored Camping Adventures for Every Explorer</h1>
          <button class="scroll">
            <a href="/ourservices/services">Our Services</a>
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
